.p1{position:absolute;top:196px;left:84px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;}
.p2{position:absolute;top:232px;left:84px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;width:306px;}
.p3{position:absolute;top:234px;left:396px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;}
.p4{position:absolute;top:234px;left:561px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;}
.p5{position:absolute;top:278px;left:84px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;}
.p6{position:absolute;top:278px;left:396px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;}
.p7{position:absolute;top:358px;left:84px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;width:100px;}
.p8{position:absolute;top:358px;left:268px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;width:196px;}
.p9{position:absolute;top:358px;left:468px;font-size:10px;font-weight:700 !important;font-family: Arial,sans-serif;width:136px;}
