.p1{position:absolute;top:172px;left:40px;font-size:13px;font-family: "CourierNewPSMT",sans-serif;z-index: 100;}
.p2{position:absolute;top:202px;left:40px;font-size:13px;font-family: "CourierNewPSMT";width:360px;z-index: 100;}
.p3{position:absolute;top:202px;left:412px;font-size:13px;font-family: "CourierNewPSMT";z-index: 100;}
.p4{position:absolute;top:202px;left:609px;font-size:13px;font-family: "CourierNewPSMT";z-index: 100;}
.p5{position:absolute;top:268px;left:40px;font-size:13px;font-family: "CourierNewPSMT";z-index: 100;}
.p6{position:absolute;top:268px;left:412px;font-size:13px;font-family: "CourierNewPSMT";z-index: 100;}
.p7{position:absolute;top:348px;left:30px;font-size:13px;font-family: "CourierNewPSMT";width:140px;z-index: 100;}
.p8{position:absolute;top:348px;left:252px;font-size:13px;font-family: "CourierNewPSMT";width:240px;z-index: 100;}
.p9{position:absolute;top:348px;left:492px;font-size:13px;font-family: "CourierNewPSMT";width:150px;z-index: 100;}